In [1]:
import sqlite3
import pandas as pd
import requests

In [2]:
r = requests.get('https://abbreviations.yourdictionary.com/articles/country-abbreviations.html')

In [28]:
conn = sqlite3.connect("../API/Travelog.db", timeout=10)
cur = conn.cursor()

In [30]:
pd.read_sql_query("SELECT * FROM Users", conn).loc[:, ['Id', 'Username']]

   Id Username
0   6      joe
1   7      bob
2   8      jon

In [15]:
usa = ['USA', 'United States of America', 'tbd', 'North America', 'NAM']
cur.execute('INSERT INTO Countries values (null, ?,?,?,?,?)', usa)
conn.commit()

In [31]:
cur.execute("SELECT * FROM Countries")
cur.fetchall()

[(1, 'USA', 'United States of America', 'tbd', 'North America', 'NAM')]

In [32]:
conn.commit()
conn.close()